{% extends 'base.html' %}
{% block title %} Car Review - Edit Profile {% endblock %}
<!DOCTYPE html>
<html lang="en">

<!-- Required Links -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Car Reviews</title>
</head>

<!-- Edit Profile Content/Form -->
<body>
    {% block content %}

    <h1>Edit Profile</h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark">Edit Profile</button>
        </form>
    </div>


    {% endblock %}

</body>

</html>