{% extends 'base.html' %}
{% block title %} Car Review - Login {% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Car Reviews</title>
</head>

<body>
    {% block content %}

    <h1>Login</h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <form>
                <div class="form-group">
                    <p class="text-danger font-weight-bold"><u>Usernames are case sensitive</u></p>
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button class="btn btn-dark">Login</button>
                <p>Not a user? <a href="{% url 'register' %}">Register</a></p>
    </div>


    {% endblock %}

</body>

</html>