{% extends 'base.html' %}
{% block title %} Car Review - Create Post {% endblock %}
<!DOCTYPE html>
<html lang="en">

<!-- Required Links -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Car Reviews</title>
</head>

<!-- Create Post Content/Form -->
<body>
    {% block content %}

    <h1>Create Post</h1>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-dark">Create</button>
        </form>
    </div>

    <!-- Get User Info -->
    <script>
        var name = "{{ user.id }}";
        document.getElementById("user").value = name;
    </script>


    {% endblock %}

</body>

</html>