{% extends 'base.html' %}
{% block title %} Car Review - Delete Post {% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Car Reviews</title>
</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <h1 class="text-center">Delete Post</h1>
    <br><br>
    <h4 class="text-center">Delete Post: <br> {{ post.title }}</h4>
    <div class="form-group">
    <form method="POST" class="text-center">
        {% csrf_token %}
        
        <a href="{% url 'home' %}" class="btn btn-dark">Back</a>
        <button class="btn btn-dark">Delete</button>
    </div>
    {% else %}
    <h1>You are not allowed to delete this post!</h1>
    <a href="{% url 'home' %}" class="btn btn-dark">Home</a>

    {% endif %}
    {% endif %}
    {% endblock %}

</body>

</html>