{% extends 'base.html' %}
{% block title %} Car Review - Edit Post {% endblock %}
<!DOCTYPE html>
<html lang="en">

<!-- Required Links -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Car Reviews</title>
</head>

<!-- Edit Post Content/Form -->
<body>
    {% block content %}

    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <h1>Edit Post</h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <a href="{% url 'home' %}" class="btn btn-dark">Back</a>
            <button class="btn btn-dark">Edit</button>
        </form>
    </div>

    {% else %}
    <h1>You are not allowed to edit this post!</h1>
    <a href="{% url 'home' %}" class="btn btn-dark">Home</a>

    {% endif %}
    {% endif %}
    {% endblock %}

</body>

</html>