{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Car Reviews</title>
</head>

<body>
    {% block content %}
    
    <h1>Post appears here</h1>
    <ul>
    {% for post in object_list %}
        <li><a href="{% url 'post-details' post.pk %}">{{ post.title }}</a> <br>- {{ post.author }} <br>- {{ post.category }}<br/>{{ post.content|slice:":0 "}} {{ post.created_on }}<hr></li>
    {% endfor %}
    </ul>

    {% endblock %}

</body>

</html>