{% extends 'base.html' %}
{% block title %} Car Review - {{ post.title }} {% endblock %}

{% block content %}
{% load cloudinary %}
<div>

    Title: {{ post.title }}
    <hr> Category: {{ post.category }}
    <hr> Created By: {{ post.author }}
    <hr> <img class="img-fluid" src="{{ post.image.url }}" alt="Blog Picture">
    <hr> Content: <br> {{ post.content|safe }}

</div>
<a href="{% url 'home' %}" class="btn btn-dark">Back</a>
{% if user.id == post.author.id %}
<a href="{% url 'edit_post' post.pk %}" class="btn btn-dark">Edit</a>
<a href="{% url 'delete_post' post.pk %}" class="btn btn-dark">Delete</a>
{% endif %}

<hr>
<form action="{% url 'likes' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    {% if liked %}
    <button type="submit" name="post_id" value="{{ post.id }}" class=" btn btn-danger">Unfavourite</button> <br><br>
    {% else %}
    <button type="submit" name="post_id" value="{{ post.id }}" class=" btn btn-dark">Favourite</button> <br><br>
    {% endif %}
    {% else %}
    <a href="{% url 'login' %}">Login to favourite</a>
    <br><br>
    {% endif %}
    <strong>{{ total_likes }} Favourites</strong>
</form>

<hr>
Comments:
{% if user.is_authenticated %}
<br> <br>
<a href="{% url 'add_comment' post.pk %}" class="btn btn-dark">Add a Comment</a>
{% else %}
<br>
<a href="{% url 'login' %}">Login to comment</a>
<br>
{% endif %}
<br> <br>
{% if not post.comments.all %}
No comments yet.
{% else %}
{% for comment in post.comments.all %}
<strong>{{ comment.name }}</strong> - {{ comment.created_on }}
<br>
{{ comment.content }}
<hr>
<br><br>
{% endfor %}
{% endif %}

{% endblock %}